body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
}

.button {
  display: inline-block;
  padding: 10px 40px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  padding-bottom: 1px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f3f7f9;
}

.header-top-menu {
  margin-bottom: 46px;
  background-color: #293449;
}

.header-top-menu .container {
  display: flex;
  flex-wrap: wrap;
}

.button-bookmarks,
.button-cart,
.button-order {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;


  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.button-bookmarks {
  position: relative;
  padding-left: 45px;
}

.button-cart {
  position: relative;
  padding-left: 50px;
}

.button-cart.catalog-page {
  background-color: #ee3643;
}

.button-bookmarks:hover,
.button-bookmarks:focus,
.button-cart:hover,
.button-cart:focus {
  background-color: #212a3a;
}

.button-cart:active,
.button-bookmarks:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.button-bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.button-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.button-bookmarks:hover::before,
.button-bookmarks:focus::before,
.button-cart:hover::before,
.button-cart:focus::before
{
  opacity: 1;
}

.button-bookmarks:active::before,
.button-cart:active::before
{
  opacity: 0.5;
}

.button-order {
  padding-left: 21px;

  background-color: #63a63e;
}

.header-top-menu .button-order:hover,
.header-top-menu .button-order:focus {
  background-color: #5fbb2d;
}

.header-top-menu .button-order:active {
  color: rgba(255,255,255,0.5);
  background-color: #63a63e;
}

.main-header-logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  background: #ee3643;
  box-shadow: 0 5px #b52933;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.main-header-logo:active {
  background: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.site-navigation-header {
  margin-bottom: 64px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 5px #293449;
}

input[type="search"] {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  border: none;

  background-color: #293449;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]:focus {
  background-color: #ffffff;
}

.site-search label {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.site-search label::before {
  content: "";

  position: absolute;
  top: 12px;
  left: -252px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* display: block; */

  opacity: 0.3;
}

input[type="search"]:hover + label::before {
  opacity: 1;
}

input[type="search"]:focus + label::before {
  background-image: url("../img/icon-search-active.svg");
  opacity: 1;
}

.descriptor {
  margin: 0;
  padding: 0;
  margin-left: 53px;
  margin-right: 70px;

  font-size: 16px;
  line-height: 18pt;
  font-style: italic;
  color: #ee3643;
}

h1.descriptor {
  font-weight: 400;
}

.contacts-header-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.tel-header a {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.tel-header {
  position: relative;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  padding-right: 50px;
  border: 3px solid #ffffff;
  margin-bottom: 5px;

  text-align: center;
}

.tel-header::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.address-header address {
  font-style: normal;
}

/* .user-navigation {
  margin-left: auto;
  margin-bottom: 67px;
} */


.user-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-bottom: 67px;
  padding: 0;

  list-style: none;
}

/* .user-navigation-list a {
  display: block;
 } */

.user-button {
  display: block;
  padding: 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login {
  position: relative;
  margin-right: 10px;
  padding-right: 26px;
  padding-left: 48px;

}

.login::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before {
  background-image: url("../img/icon-login-hover.svg");
}

.user-button:hover,
.user-button:focus {
  color: #ee3643;
}

.user-button:active {
  color: rgba(0,0,0,0.3)
}

.user-navigation-authorized {
  margin-left: auto;
  width: 300px;
}

.authorized-navigation-list {
  display: flex;

  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  list-style: none;
}

.user-name {
  position: relative;
  display: block;
  padding: 12px 48px;
  margin-bottom: 8px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-name:hover::before,
.user-name:focus::before {
  background-image: url("../img/icon-user-hover.svg");
}

.user-name::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 269px;

  width: 21px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-name:hover::after,
.user-name:focus::after {
  background-image: url("../img/icon-logout-hover.svg");
}

.user-name:active {
  color: rgba(0,0,0,0.3);
}

.authorized-navigation-list a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.orders-link {
  position: relative;
  margin-left: 19px;
  margin-right: 32px;
}

.orders-link:after {
  content: "";

  position: absolute;
  top: 7px;
  right: -19px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 2px;
}

.authorized-navigation-list a:hover,
.authorized-navigation-list a:focus {
  color: #ee3643;
}

.authorized-navigation-list a:active {
  color: rgba(50,66,92,0.3);
}

.navigation-menu-header,
.navigation-menu-footer,
.additional-menu-footer {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-menu-header {
  justify-content: space-between;
  padding: 0 23px;
}

.navigation-menu-header a {
  display: block;
  padding: 19px 30px;

  color: #ffffff;
}

.navigation-menu-header a:hover,
.navigation-menu-header a:focus  {
  background-color: #293449;
}

.navigation-menu-header a:active  {
  background-color: #1d2739;
  opacity: 0.5;
}

.bottom-block {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
}

.company-intro {
  width: 540px;
  padding-top: 80px;
}

.contacts-office {
  width: 300px;
  padding-top: 80px;
}

.bottom-block h2 {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.company-intro p {
  margin: 0;
  margin-bottom: 24px;
}

.logistic-partners {
  margin: 0;
  margin-top: -5px;
  padding:0;

  list-style: none;
}

.logistic-partners li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 16px;
}

.logistic-partners li:last-child {
  margin-bottom: 34px;
}

.logistic-partners li::before{
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.logistic-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.contacts-office p {
  margin: 0;
  margin-bottom: 31px;
}

.map-popup img {
  width: 300px;
  height: 158px;
}

.map-popup {
  display: inline-block;
  margin-bottom: 32px;
}

.contacts-office .button {
  box-sizing: border-box;
  width: 100%;
}

.breadcrumbs {
  position: relative;
  list-style: none;
  margin-left: 53px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
}

.breadcrumbs::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -55px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs::after {
  content: "";

  position: absolute;
  top: 5px;
  right: 896px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -26px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-category {
  margin: 0;
  margin-bottom: 20px;
  padding: 29px 28px;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
  margin-bottom: 60px;
}

.filters {
  margin-top: 262px;
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 56px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 19px;
}

.filter legend {
  position: relative;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter legend::before {
  content: "";

  position: absolute;
  top: -18px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -29px;

  width: 10px;
  height: 10px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  background-color: #b5b5b5;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -37px;
  top: -3px;

  width: 18px;
  height: 18px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border: 4px solid #b5b5b5;
}

.filter-input:disabled + label {
  cursor: default;
  opacity: 0.4;
}

.filter-button {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 39px;
  padding-right: 39px;
  /* padding: 10px 0; */

  font-size: 13px;
  line-height: 18px;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  cursor: pointer;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;

  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;

  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.label-new {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:not(.new-catalog-item) .label-new {
  display: none;
}

.catalog-item .buy-bookmarks {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .buy-bookmarks .buy,
.catalog-item .buy-bookmarks .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 7px;
  padding: 7px 0;

  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.catalog-item .buy-bookmarks .buy::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.catalog-item .buy-bookmarks .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .buy-bookmarks .buy:hover::before {
  opacity: 1;
}

.catalog-item .buy-bookmarks .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .buy-bookmarks .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .buy-bookmarks .bookmark:hover {
  border-color: #32425c;
}

.catalog-item .buy-bookmarks .bookmark:active {
  opacity: 0.3;
}

.catalog-item:hover .buy-bookmarks {
  display: block;
}

.catalog-item-image {
  width: 218px;
  height: 170px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price {
  /* text-align: center; */
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.old-orice {
  min-height: 20px;
  /* margin-top: 10px; */
  margin-bottom: 8px;

  color: #999999;
  text-decoration: line-through;
}

.button-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button-price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  box-shadow: 0 5px 20px rgba(41, 52, 73, 0.5);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}


.pagination-item a {
  display: block;
  padding: 6px 14px;

  font-size: 13px;
  line-height: 18pt;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.next-page-button {
  display: block;
  padding: 6px 32px;

  font-size: 13px;
  line-height: 18pt;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus,
.next-page-button:hover,
.next-page-button:focus {
  border-color: #bdc6ca;
}

.pagination-item a[href]:active,
.next-page-button:active {
  border-color: #ee3643;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 28px;

  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  flex-shrink: 0;
  display: inline-block;
  width: 220px;
  height: 68px;
  background: #ee3643;
  box-shadow: inset 0 -5px #b52933;
}

.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  background: #ca2c37;
  box-shadow: inset 0 -5px #9a212a;
}

.main-footer-logo[href]:active {
  background: #ba2732;
  box-shadow: inset 0 -5px #8e1e26;
}

.navigation-menu-footer li {
  margin-left: 60px;
  margin-top: 38px;
}

.navigation-menu-footer {
  justify-content: flex-end;
}

.navigation-menu-footer a {
  color: #f1f5f7;
}

.additional-menu-footer a {
  color: #ffd180;
}

.navigation-menu-footer a:hover,
.navigation-menu-footer a:focus,
.additional-menu-footer a:hover,
.additional-menu-footer a:focus  {
  text-decoration: underline;
}

.navigation-menu-footer a:active,
.additional-menu-footer a:active  {
  opacity: 0.5;
}

.footer-contacts-flex {
  display: flex;
  justify-content: space-between;
}

.additional-menu-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-contacts {
  flex-shrink: 0;
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
}

.footer-contacts address {
  padding-left: 4px;
  font-style: normal;
}

.footer-contacts a{
  text-decoration: none;
  color: #ffffff;
}

.additional-menu-footer {
  justify-content: flex-end;
}

.additional-menu-footer li {
  margin-left: 60px;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  margin: auto 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;

  width: 130px;
  margin-top: 34px;
  margin-bottom: 31px;
  margin-left: 164px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  border-radius: 21px;

  background-color: #212a3a;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback,
.development {
  font-size: 16px;
  line-height: 18px;
}

.feedback {
  margin: auto 0;
  margin-left: auto;
}

.development {
  margin: auto 0;
  margin-left: 52px;
  margin-right: 14px;
}

.feedback a,
.development a{
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.development a:hover,
.development a:focus {
  text-decoration: underline;
}

.feedback a:active,
.development a:active {
  color: #ee3643
}

.modal {
  display: none;
}