body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
}

.button {
  display: inline-block;
  padding: 10px 40px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  padding-bottom: 1px;
 
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f3f7f9;
}

.header-top-menu {
  margin-bottom: 46px;
  background-color: #293449;
}

.header-top-menu .container {
  display: flex;
  flex-wrap: wrap;
}

.button-bookmarks,
.button-cart,
.button-order {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;


  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.button-bookmarks {
  position: relative;
  padding-left: 45px;
}

.button-cart {
  position: relative;
  padding-left: 50px;
}

.button-cart.catalog-page {
  background-color: #ee3643;
}

.button-bookmarks:hover,
.button-bookmarks:focus,
.button-cart:hover,
.button-cart:focus {
  background-color: #212a3a;
}

.button-cart:active,
.button-bookmarks:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.button-bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.button-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.button-bookmarks:hover::before,
.button-bookmarks:focus::before,
.button-cart:hover::before,
.button-cart:focus::before
{
  opacity: 1;
}

.button-bookmarks:active::before,
.button-cart:active::before
{
  opacity: 0.5;
}

.button-order {
  padding-left: 21px;

  background-color: #63a63e;
}

.header-top-menu .button-order:hover,
.header-top-menu .button-order:focus {
  background-color: #5fbb2d;
}

.header-top-menu .button-order:active {
  color: rgba(255,255,255,0.5);
  background-color: #63a63e;
}

.main-header-logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  background: #ee3643;
  box-shadow: 0 5px #b52933;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  background: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.main-header-logo[href]:active {
  background: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.site-navigation-header {
  margin-bottom: 64px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 5px #293449;
}

.site-search input[type="search"] {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  border: none;

  background-color: #293449;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

input[type="search"]:focus {
  background-color: #ffffff;
}

.site-search label {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.site-search label::before {
  content: "";

  position: absolute;
  top: 12px;
  left: -252px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

input[type="search"]:hover + label::before {
  opacity: 1;
}

input[type="search"]:focus + label::before {
  background-image: url("../img/icon-search-active.svg");
  opacity: 1;
}

.descriptor {
  margin: 0;
  padding: 0;
  margin-left: 53px;
  margin-right: 70px;

  font-size: 16px;
  line-height: 18pt;
  font-style: italic;
  color: #ee3643;
}

h1.descriptor {
  font-weight: 400;
}

.contacts-header-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.tel-header a {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.tel-header {
  position: relative;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  padding-right: 50px;
  border: 3px solid #ffffff;
  margin-bottom: 5px;

  text-align: center;
}

.tel-header::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.address-header address {
  font-style: normal;
}

.user-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-bottom: 67px;
  padding: 0;

  list-style: none;
}

.user-button {
  display: block;
  padding: 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login {
  position: relative;

  margin-right: 10px;
  padding-right: 26px;
  padding-left: 48px;
}

.login::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before,
.login:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}

.login:active::before {
  background-image: url("../img/icon-login.svg");
}

.user-button:hover,
.user-button:focus {
  color: #ee3643;
}

.user-button:active {
  color: rgba(0,0,0,0.3)
}

.user-navigation-authorized {
  margin-left: auto;
  width: 300px;
}

.authorized-navigation-list {
  display: flex;

  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  list-style: none;
}

.user-name {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 8px;
  padding: 12px 48px;
  
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-profile {
  color: #000000;
}

.user-profile svg {
  position: absolute;
  left: 14px;
}

.user-logout svg {
  position: absolute;
  top: 14px;
  right: 10px;
}

.user-profile:hover path,
.user-profile:focus path {
  fill: #32425c;
}

.user-profile:active path {
  fill: #c5c5c5;
}

.user-profile:active {
  color: #c5c5c5;
}

.user-logout:hover path,
.user-logout:focus path {
  fill: #32425c;
}

.user-logout:active path {
  fill: #c5c5c5;
}

.authorized-navigation-list a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.orders-link {
  position: relative;

  margin-left: 19px;
  margin-right: 32px;
}

.orders-link:after {
  content: "";

  position: absolute;
  top: 7px;
  right: -19px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 2px;
}

.authorized-navigation-list a:hover,
.authorized-navigation-list a:focus {
  color: #ee3643;
}

.authorized-navigation-list a:active {
  color: rgba(50,66,92,0.3);
}

.navigation-menu-header,
.navigation-menu-footer,
.additional-menu-footer {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-menu-header {
  justify-content: space-between;
  padding: 0 23px;
}

.navigation-menu-header a {
  display: block;
  padding: 19px 30px;

  color: #ffffff;
}

.navigation-menu-header a:hover,
.navigation-menu-header a:focus  {
  background-color: #293449;
}

.navigation-menu-header a:active  {
  background-color: #1d2739;
  opacity: 0.5;
}

.banners {
  margin-top: 59px;
}

.category-banners {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.banner {
  position: relative;

  box-sizing: border-box;
  width: 300px;
  padding-top: 21px;
  padding-left: 23px;
  overflow: hidden;
}

.banner p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.banner a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  padding: 10px 12px;
  margin-bottom: 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.banner a:hover,
.banner a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-label-new {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.banner:not(.new-item-banner) .banner-label-new {
  display: none;
}

.material-banner {
  background-color: #ffbf47;
}

.material-banner::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instrument-banner {
  background-color: #3bbce3;
}

.instrument-banner::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.machinery-banner {
  background-color: #dc91d8;
}

.machinery-banner::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-machinery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-banners-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 53px;
}

.main-slider {
  position: relative;

  width: 620px;
}

.slider-controls {
  position: absolute;
  top: 219px;
  left: 294px;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 10px;
  height: 10px;
  margin-right: 8px;

  border-radius: 50%;

  cursor: pointer;

  z-index: 100;
}

.slider-controls label::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;

  background-color: #fff;
  border-radius: 50%;
}

.slide-checkbox-1:checked ~ .slider-controls .slide-indicator-1::after,
.slide-checkbox-2:checked ~ .slider-controls .slide-indicator-2::after {
  content: "";

  position: absolute;
  left: 2px;
  top: 2px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-controls-buttons {
  position: absolute;
  top: 113px;
  left: 24px;

  display: flex;
  justify-content: space-between;

  width: 576px;
 
  z-index: 100;
}

.slider-controls-buttons label {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 22px;
  height: 40px;
  
  cursor: pointer;
}

.slider-controls-buttons label:first-child::before {
  content: "";

  position: absolute;
  top: 0;
  
  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-controls-buttons label:last-child::before {
  content: "";

  position: absolute;
  top: 0;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-list {
  list-style: none;

  margin: 0;
  padding: 0;

  width: 620px;
  height: 266px;
}

.slider-list-item {
  position: absolute;
  top: 0;
  left: 0;
}

.slider-list-item img {
  width: 620px;
  height: 266px;
}

.slider-list .description {
  position: absolute;
  top: 22px;
  left: 24px;
}

.description h2 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  text-transform: uppercase;
}

.description p {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-button {
  position: absolute;
  top: 206px;
  left: 25px;

  min-width: 115px;
}

.slide-checkbox-1:checked ~ .slider-list .slider-list-item:first-child,
.slide-checkbox-2:checked ~ .slider-list .slider-list-item:last-child {
 z-index: 10;
}

.right-banners-column {
  list-style: none;

  margin: 0;
  padding: 0;
}

.right-banners-column li {
  margin-bottom: 20px;
}

.right-banners-column li:last-child {
  margin-bottom: 0;
}

.discount-banner {
  background-color: #8ed78f;
}

.discount-banner::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery-banner {
  background-color: #ffc047;
}

.delivery-banner::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-header {
  display: flex;
  justify-content: space-between;

  
  margin-bottom: 20px;
  padding: 25px 28px;
  padding-right: 24px;
  
  background-color: #f9f5f0;
}

.popular-header h2 {
  margin: 0;
  padding-top: 5px;
 

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
}

.popular-button {
  box-sizing: border-box;
  min-width: 253px;
}

.popular-products .catalog-list {
  margin-bottom: 0;
}

.popular-products .catalog-item {
  margin-bottom: 22px;
}

.popular-products .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.popular-products .catalog-item:last-child {
  margin-right: 0;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

.brands-item {
  margin-right: 20px;
}

.brands-item:nth-child(4n+4) {
  margin-right: 0;
}

.brands-item a:hover,
.brands-item a:focus {
  box-shadow: 0 5px 20px rgba(41, 52, 73, 0.5);
}

.brands-item a:active {
  box-shadow: 0 5px 10px rgba(41, 52, 73, 0.5);
}

.brands-item a:active img {
  opacity: 0.3;
}

.brands-item a {
  position: relative;
  
  display: block;
  margin-bottom: 20px;
  width: 218px;
  height: 143px;

  border: 1px solid #e5e5e5;
}

.brands-item img {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%,-50%);
}

.sevices  {
  padding-top: 66px;
  background-color: #f4f8fa;
}

.sevices h2 {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  
  text-transform: uppercase;
}

.sevices p {
  margin: 0;
  margin-bottom: 69px;

  width: 400px;
}

.services-slider {
  display: flex;
}

.services-control {
  position: relative;

  margin-bottom: 97px;
  width: 240px;
}

.services-control label {
  display: block;

  padding: 0 22px;
  padding-top: 15px;
  padding-bottom: 17px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -1px 0 0 #293449, 
              inset 0 1px 0 0 #405069;

  cursor: pointer;
}

.services-control label:hover {
  background-color: #293449;
}

.services-delivery-option:checked ~ .services-control .services-control-delivery,
.services-guarantee-option:checked ~ .services-control .services-control-guarantee,
.services-credits-option:checked ~ .services-control .services-control-credits {
  color: #32425c;
  
  background-color: #ffffff;
  box-shadow: none;
}

.services-control::after {
  content: "";
  
  position: absolute;
  top: -35px;
  left: 230px;
  
  width: 10px;
  height: 272px;
  
  background-image: url(../img/services-border.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-delivery-option:checked ~ .services-description-list .delivery-description,
.services-guarantee-option:checked ~ .services-description-list .guarantee-description,
.services-credits-option:checked ~ .services-description-list .credits-description {
  display: block;
}

.services-description-list {
  position: relative;

  list-style: none;
  margin: 0;
  margin-top: -2px;
  padding: 0;
}

.service-description {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  padding-left: 80px;  
}

.service-description h2 {
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
}

.service-description p {
  position: relative;
  margin-bottom: 26px;
}

.credits-button {
  position: relative;
  box-sizing: border-box;
  min-width: 195px;

  background-color: #ff5357;

  z-index: 1;
}

.delivery-description p {
  width: 275px;
}

.delivery-description p::after{
  content: "";
  
  position: absolute;
  top: -36px;
  left: 151px;
  
  width: 468px;
  height: 261px;
  
  background-image: url(../img/services-delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.guarantee-description p {
  width: 375px;
}

.guarantee-description p::after{
  content: "";
  
  position: absolute;
  top: -58px;
  left: 239px;
  
  width: 389px;
  height: 283px;
  
  background-image: url(../img/services-guarantee.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credits-description p {
  width: 285;
}

.credits-description p::after{
  content: "";
  
  position: absolute;
  top: -60px;
  left: 165px;
  
  width: 465px;
  height: 285px;
  
  background-image: url(../img/services-credits.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.bottom-block {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
}

.company-intro {
  width: 540px;
  padding-top: 80px;
}

.contacts-office {
  width: 300px;
  padding-top: 80px;
}

.bottom-block h2 {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.company-intro p {
  margin: 0;
  margin-bottom: 24px;
}

.logistic-partners {
  margin: 0;
  margin-top: -5px;
  padding:0;

  list-style: none;
}

.logistic-partners li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 16px;
}

.logistic-partners li:last-child {
  margin-bottom: 34px;
}

.logistic-partners li::before{
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.logistic-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.contacts-office p {
  margin: 0;
  margin-bottom: 31px;
}

.map-popup img {
  width: 300px;
  height: 158px;
}

.map-popup {
  display: inline-block;
  margin-bottom: 32px;
}

.contacts-office .button {
  box-sizing: border-box;
  width: 100%;
}

.breadcrumbs {
  position: relative;
  list-style: none;
  margin-left: 53px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
}

.breadcrumbs::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -55px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs::after {
  content: "";

  position: absolute;
  top: 5px;
  right: 896px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -26px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-category {
  margin: 0;
  margin-bottom: 20px;
  padding: 29px 28px;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
  margin-bottom: 60px;
}

.filters {
  width: 220px;
}

.filters p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-bottom: 11px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.price-filter {
  margin-bottom: 42px;
}

.price-filter-header {
  margin: 0;
  margin-bottom: 14px;

  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.price-filter-slider {
  position: relative;
  height: 41px;
  padding: 0 20px;
  padding-top: 39px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.price-slider-bar {
  position: relative;
  height: 2px;
  background-color: #d7dcde;
}

.price-slider-range {
  position: absolute;
  width: 160px;
  height: 2px;
  background-color: #00ca74;
}

.price-min-toggle {
  top: 30px;
}

.price-max-toggle {
  top: 30px;
  left: 160px;
}

.price-slider-toggle {
  position: absolute;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px #e0ddd8;
}

.price-slider-toggle::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #ababab;
}

.filter-price-input {
  display: flex;
  justify-content: space-between;
}

.filter-price-input label {
  display: block;
}

.separator-dash {
  display: inline-block;
  padding-top: 9px;
  
  font-size: 16px;
  line-height: 18px;
}

.filter-price-input input[type="text"] {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: top;

  padding: 10px 10px;
  width: 95px;
  height: 38px;

  font-family: "PT Sans",sans-serif,Arial;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border-radius: 2px;
  border: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 56px;

  border: none;
}

.filter fieldset:first-of-type {
  margin-bottom: 19px;
}

.filter legend {
  position: relative;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter legend::before {
  content: "";

  position: absolute;
  top: -18px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -29px;

  width: 10px;
  height: 10px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  background-color: #b5b5b5;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -37px;
  top: -3px;

  width: 18px;
  height: 18px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border: 4px solid #b5b5b5;
}

.filter-input:disabled + label {
  cursor: default;
  opacity: 0.4;
}

.filter-button {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 39px;
  padding-right: 39px;


  font-size: 13px;
  line-height: 18px;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  cursor: pointer;
}

.flex-sorting {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
  padding-bottom: 5px;
  margin-bottom: 19px;

  background: #f7f3ec;
  border-radius: 2px;
}

.flex-sorting p {
  margin: 0;
  padding-left: 20px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
}

.sorting-option a {
  display: inline-block;
  vertical-align: top;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;

  border-bottom: 1px #ee3643 dotted;
}

.sorting-option:not(.sorting-option-active) a:hover,
.sorting-option:not(.sorting-option-active) a:focus {
  color: #000000;
  border-bottom: 1px #ee3643 solid;
}

.sorting-option-active a {
  color: #ee3643;

  border-bottom: none;
}

.price-sorting {
  margin-right: 70px;
}

.type-sorting {
  margin-right: 65px;
}

.function-sorting {
  margin-right: 107px;
}

.sorting-direction a {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.sorting-up a::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -60px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.sorting-up a:hover::before,
.sorting-up a:focus::before {
  opacity: 1;
}

.sorting-option-active.sorting-up a::before {
  background-image: url("../img/icon-up-dir-active.svg");
  opacity: 1;
}

.sorting-down a::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -27px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.sorting-down a:hover::before,
.sorting-down a:focus::before {
  opacity: 1;
}

.sorting-option-active.sorting-down a::before {
  background-image: url("../img/icon-down-dir-active.svg");
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;

  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;

  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.label-new {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:not(.new-catalog-item) .label-new {
  display: none;
}

.catalog-item .buy-bookmarks {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .buy-bookmarks .buy,
.catalog-item .buy-bookmarks .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 7px;
  padding: 7px 0;

  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.catalog-item .buy-bookmarks .buy::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.catalog-item .buy-bookmarks .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .buy-bookmarks .buy:hover::before {
  opacity: 1;
}

.catalog-item .buy-bookmarks .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .buy-bookmarks .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .buy-bookmarks .bookmark:hover {
  border-color: #32425c;
}

.catalog-item .buy-bookmarks .bookmark:active {
  opacity: 0.3;
}

.catalog-item:hover .buy-bookmarks {
  display: block;
}

.catalog-item-image {
  width: 218px;
  height: 170px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.old-orice {
  min-height: 20px;
  margin-bottom: 8px;

  color: #999999;
  text-decoration: line-through;
}

.button-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  box-shadow: 0 5px 20px rgba(41, 52, 73, 0.5);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}


.pagination-item a {
  display: block;
  padding: 6px 14px;

  font-size: 13px;
  line-height: 18pt;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.next-page-button {
  display: block;
  padding: 6px 32px;

  font-size: 13px;
  line-height: 18pt;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus,
.next-page-button:hover,
.next-page-button:focus,
.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.pagination-item a[href]:active,
.next-page-button:active,
.filter-button:active {
  border-color: #ee3643;
}

.about-perforators {
  padding-top: 65px;
  padding-bottom: 55px;

  background-color: #f2f6f8;
}

.about-perforators h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 28px;

  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  flex-shrink: 0;
  display: inline-block;
  width: 220px;
  height: 68px;

  background: #ee3643;
  box-shadow: inset 0 -5px #b52933;
}

.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  background: #ca2c37;
  box-shadow: inset 0 -5px #9a212a;
}

.main-footer-logo[href]:active {
  background: #ba2732;
  box-shadow: inset 0 -5px #8e1e26;
}

.navigation-menu-footer li {
  margin-left: 60px;
  margin-top: 38px;
}

.navigation-menu-footer {
  justify-content: flex-end;
}

.navigation-menu-footer a {
  color: #f1f5f7;
}

.additional-menu-footer a {
  color: #ffd180;
}

.navigation-menu-footer a:hover,
.navigation-menu-footer a:focus,
.additional-menu-footer a:hover,
.additional-menu-footer a:focus  {
  text-decoration: underline;
}

.navigation-menu-footer a:active,
.additional-menu-footer a:active  {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts-flex {
  display: flex;
  justify-content: space-between;
}

.additional-menu-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-contacts {
  flex-shrink: 0;
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
}

.footer-contacts address {
  padding-left: 4px;
  font-style: normal;
}

.footer-contacts a{
  text-decoration: none;
  color: #ffffff;
}

.additional-menu-footer {
  justify-content: flex-end;
}

.additional-menu-footer li {
  margin-left: 60px;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  margin-top: 36px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;

  width: 130px;
  margin-top: 34px;
  margin-bottom: 31px;
  margin-left: 164px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  border-radius: 21px;

  background-color: #212a3a;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback,
.development {
  font-size: 16px;
  line-height: 18px;
}

.feedback {
  margin-top: 36px;
  margin-left: auto;
}

.development {
  margin-top: 36px;
  margin-left: 52px;
  margin-right: 14px;
}

.feedback a,
.development a{
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.development a:hover,
.development a:focus {
  text-decoration: underline;
}

.feedback a:active,
.development a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
}

.modal p {
  margin: 0;
  padding: 0;
}

.modal-contact {
  display: none;

  top: 50%;
  left: 50%;

  width: 620px;
  margin-top: -250px;
  margin-left: -300px;
  padding-top: 46px;

  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
  background-color: #ffffff;

  z-index: 200;
}

.contact-data {
  margin: 0 80px;
}

.contact-button {
  width: 100%;
  cursor: pointer;
}

.flex-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.modal-contact input[type=text] {
  box-sizing: border-box;

  width: 220px;
  padding: 8px 14px;

  font-family: "PT Sans",sans-serif,Arial;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-contact input[type="text"]:-ms-input-placeholder {
  color: #a9a9a9;
}

.modal-contact textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.modal-contact label {
  display: block;

  margin-bottom: 9px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  cursor: pointer;
}

.customer-message {
  box-sizing: border-box;
  width: 460px;
  padding: 9px 14px;
  margin-bottom: 30px;

  overflow: auto;
  resize: none;

  font-family: "PT Sans",sans-serif,Arial;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.submit-section {
  padding: 37px 80px;

  background: #f4f4f4;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;

  width: 21px;
  height: 21px;

  font-size: 0;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -1px;

  width: 27px;
  height: 4px;


  background: #ee3643;
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-map {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-left: -470px;
  margin-top: -230px;
  box-shadow: 0 10px 25px rgba(41,52,73,.5);

  z-index: 100;
}

.item-added {
  display: none;

  top: 50%;
  left: 50%;

  width: 620px;
  margin-top: -200px;
  margin-left: -300px;
  padding-top: 46px;

  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
  background-color: #ffffff;

  z-index: 100;
}

.item-added h2 {
  position: relative;
  margin-top: 19px;
  margin-left: 180px;
  margin-right: 80px;
  margin-bottom: 68px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.item-added h2:before {
  content: "";

  position: absolute;
  top: -18px;
  left: -100px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-added-buttons {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f1f1f1;
}

.continue-shopping {
  margin-left: 17px;

  color: #000000;

  border: 0;
  border-radius: 2px;
  background-color: #ffffff;

  cursor: pointer;
}

.continue-shopping:hover,
.continue-shopping:focus {
  background-color: #ffffff;
  color: #ee3643;
}

.continue-shopping:active {
  background-color: #ffffff;
  color: rgba(50,66,92,0.3);
}

.item-added-order,
.continue-shopping {
  box-sizing: border-box;
  min-width: 220px;
}